body {
    background-image: url(../img/roman.jpeg);
  }
  
  .logo {
    font-family: 'Peralta', bold;
  }
  
  .logo a {
    color: rgba(255, 218, 98, 0.9);
  }
  
  .logo a:hover,
  .logo a:active {
    background-color: black;
  }