{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Boards</li>

  <li class="ml-auto">
    <form class="form-inline mr-auto">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <div class="mx-2">
      Search for:
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="choose_search_thing" id="topic" value="topic">
          <label class="form-check-label" for="topic">
          Topic
          </label>
      </div>
      <div class="form-check ml-1">
        <input class="form-check-input" type="radio" name="choose_search_thing" id="post" value="post">
          <label class="form-check-label" for="post">
          Post
          </label>
      </div>
      
        <button class="btn btn-outline-success btn-rounded btn-sm my-0 ml-3" type="submit">Search</button>
    </form>
  </li>

{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Board</th>
        <th>Posts</th>
        <th>Topics</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td>
            <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
            <small class="text-muted d-block">{{ board.description }}</small>
          </td>
          <td class="align-middle">
            {{ board.get_posts_count }}
          </td>
          <td class="align-middle">
            {{ board.topics.count }}
          </td>
          <td class="align-middle">
            {% with post=board.get_last_post %}
              {% if post %}
                <small>
                  <a href="{% url 'topic_posts' board.pk post.topic.pk %}">
                    By {{ post.created_by.username }} at {{ post.created_at }}
                  </a>
                </small>
              {% else %}
                <small class="text-muted">
                  <em>No posts yet.</em>
                </small>
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}